<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <!-- Servlets -->
  <servlet>
    <servlet-name>app</servlet-name>
    <servlet-class>ws.softlabs.kino.server.KinoDataServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>schedule</servlet-name>
    <servlet-class>ws.softlabs.kino.server.tools.ScheduledLoader</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>sanitizer</servlet-name>
    <servlet-class>ws.softlabs.kino.server.tools.Sanitizer</servlet-class>
  </servlet>

  <!-- servlet mapping -->
  <servlet-mapping>
    <servlet-name>app</servlet-name>
    <url-pattern>/kino/kino</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>schedule</servlet-name>
    <url-pattern>/tools/load</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>sanitizer</servlet-name>
    <url-pattern>/tools/clean</url-pattern>
  </servlet-mapping>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>kinoapp.html</welcome-file>
  </welcome-file-list>

</web-app>
